<div class="flex align-items-left">
  <p-dropdown optionLabel="label" dataKey="value" [options]="countryFilterItems" [(ngModel)]="selectedCountryItem" (ngModelChange)="selectedCountryItemChange()"> </p-dropdown>
  <p-dropdown class="ml-4" optionLabel="label" dataKey="value" [options]="vareTypeFilterItems" [(ngModel)]="selectedVareTypeItem" (ngModelChange)="selectedVareTypeItemChange()"> </p-dropdown>
  <p-dropdown class="ml-4" optionLabel="label" dataKey="value" [options]="ordreStatusFilterItems" [(ngModel)]="selectedOrdreStatusItem" (ngModelChange)="selectedOrdreStatusItemChange()"> </p-dropdown>
</div>

<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-toast></p-toast>
      <p-table
        #table
        [resizableColumns]="true"
        styleClass="p-datatable-sm"
        [value]="gruppetavles$ | async"
        [columns]="selectedColumns"
        [globalFilterFields]="cols"
        [loading]="loading"
        dataKey="id"
        [sortField]="sortField"
        [sortOrder]="sortOrder"
        csvSeparator=";"
        [exportFilename]="'export'"
        [paginator]="true"
        [rows]="20"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Viser {first} til {last} af {totalRecords} poster"
        [rowsPerPageOptions]="[10, 20, 50]"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{ varetypeNavn }}</h5>
            <p-multiSelect
              [options]="cols"
              [(ngModel)]="selectedColumns"
              optionLabel="header"
              selectedItemsLabel="{0} columns selected"
              [style]="{ minWidth: '200px' }"
              placeholder="Choose Columns"
            ></p-multiSelect>

            <button pButton pRipple [disabled]="eltavleService.vareTypeFilter === 'GruppeTavler'" label="Opret ny" icon="pi pi-plus" class="p-button-success mr-2" (click)="opretTavle()"></button>

            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="table.exportCSV()"></button>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="table.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th></th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>
              <div class="flex">
                <div>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editItem(rowData)"></button>
                </div>
              </div>
            </td>
            <td *ngFor="let col of columns" [ngStyle]="{ 'text-decoration': rowData.slettet ? 'line-through' : 'none' }" [innerHtml]="rowData[col.field]"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog *ngIf="opretTavleDialog" [(visible)]="opretTavleDialog" [style]="{ width: '450px', height: '450px' }" header="Fordelingstavle" [modal]="true">
  <div class="field">
    <label class="block">Vælg kunde</label>
    <p-dropdown optionLabel="name" dataKey="id" [options]="customers" (onChange)="onKundeChange($event)" [(ngModel)]="valgtKunde" [ngModelOptions]="{ standalone: true }"> </p-dropdown>
    <div *ngIf="users">
      <label class="block">Vælg bruger</label>
      <p-dropdown optionLabel="email" dataKey="id" [options]="users" (onChange)="onBrugervalgt($event)" [(ngModel)]="valgtBruger" [ngModelOptions]="{ standalone: true }"> </p-dropdown>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-raised" label="Bekræft" (click)="opretFordelingstavle()"></button>
  </ng-template>
</p-dialog>

<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
