::ng-deep .myEmailClass {
  table,
  td,
  div,
  h1,
  p {
    font-family: Arial, sans-serif;
  }
  .tdleft {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
  }
  .tdcenter {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
  }
  .tdright {
    text-align: right;
    padding-left: 25px;
    padding-right: 25px;
  }
}
