<h2>Kreds konfiguration</h2>
<p-toast></p-toast>
<!-- <button (click)="move()">Move last</button> -->
<!-- <button (click)="add()">Add</button> <button (click)="shuffle()">Shuffle</button><br />
<ul class="example-list">
  <li *ngFor="let item of todo">{{ item.title }}</li>
  <li *ngFor="let item of done">{{ item.title }}</li>
</ul> -->

<!-- <div class="sticky">Træk og slip disp plads ind på DIN skinnerne</div> -->

<div cdkDropListGroup>
  <div class="fixed">
    <div class="sticky">
      <div class="field">
        <button pButton pRipple label="Indsæt komponenter" icon="pi pi-bolt" class="p-button-raised" (click)="indsaetKomponenterDialog = true"></button>
      </div>
      <!-- <h4>Disp komponenter</h4>
      <div cdkDropList [cdkDropListData]="disp" class="disp-list" cdkDropListOrientation="horizontal" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let item of disp; let i = index">
          <div class="component-box" [style.width]="getDivWidth(item.modul)" cdkDrag [cdkDragDisabled]="this.eltavle?.economicBookedInvoiceNumber !== null">{{ item.komponentNavn }}</div>
        </ng-container>
      </div> -->

      <p-table [value]="rest()" styleClass="p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Antal</th>
            <th>Komponent</th>
            <th>M</th>
            <th>Tilføj</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.antal }}</td>
            <td>{{ product.komponentNavn }}</td>
            <td>{{ product.modul }}</td>
            <td>
              <div class="flex">
                <div>
                  <!-- <a><p-badge (click)="add(2, product)" styleClass="mr-2" value="1"></p-badge></a>
                  <p-badge styleClass="mr-2" value="2" (click)="add(2, product)"></p-badge>
                  <p-badge styleClass="mr-2" value="3"></p-badge>
                  <p-badge styleClass="mr-2" value="5"></p-badge> -->
                  <button *ngIf="product.antal > 0" pButton pRipple icon="pi pi-plus" label="1" class="p-button-sm p-button-success mr-2" (click)="add(1, product)"></button>
                  <button *ngIf="product.antal > 1" pButton pRipple icon="pi pi-plus" label="2" class="p-button-sm p-button-success mr-2" (click)="add(2, product)"></button>
                  <button *ngIf="product.antal > 2" pButton pRipple icon="pi pi-plus" label="3" class="p-button-sm p-button-success mr-2" (click)="add(3, product)"></button>
                  <button *ngIf="product.antal > 4" pButton pRipple icon="pi pi-plus" label="5" class="p-button-sm p-button-success mr-2" (click)="add(5, product)"></button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div>
      <form [formGroup]="mainForm">
        <div class="field">
          <label for="angivetNavn" class="block">Slå autonavn fra</label>
          <p-checkbox
            formControlName="angivetNavn"
            [disabled]="!selectedItem"
            [binary]="true"
            id="angivetNavn"
            aria-describedby="angivetNavn-help"
            (onChange)="onAngivetNavnChanged($event)"
          ></p-checkbox>
        </div>

        <div class="field">
          <label for="navn" class="block">Navn</label>
          <input formControlName="navn" [disabled]="!selectedItem || !angivetNavn" type="text" maxlength="50" pInputText id="navn" aria-describedby="navn-help" />
        </div>
        <div class="field">
          <div class="formgroup-inline">
            <div class="field">
              <button pButton pRipple [disabled]="mainForm.pristine || !mainForm.valid || !this.selectedItem" [label]="'Ret'" class="p-button-raised" (click)="saveItem()"></button>
            </div>

            <br />Dirty: {{ mainForm.dirty }} <br />Touched: {{ mainForm.touched }} <br />Valid: {{ mainForm.valid }} <br />Values:
            {{ mainForm.value | json }}
            <!-- <p class="field-error" [@fadeIn] *ngIf="showFormErrorMessage" translate>errorMessages.OneOrMoreFieldsMissing</p> -->
          </div>
        </div>

        <!-- <div class="field">
          <div class="formgroup-inline">
            <div class="field">
              <button
                pButton
                pRipple
                [disabled]="mainForm.pristine || !mainForm.valid || antal < 1 || komponentID === null"
                [label]="selectedItem.id === 0 ? 'Opret' : 'Gem'"
                icon="pi pi-check"
                class="p-button-raised"
                (click)="saveItem()"
              ></button>
            </div>
            <div class="field">
              <button pButton pRipple label="Annuller" icon="pi pi-times" class="p-button-outlined p-button-warning" (click)="hideDialog()"></button>
            </div>
            <br />Dirty: {{ mainForm.dirty }} <br />Touched: {{ mainForm.touched }} <br />Valid: {{ mainForm.valid }} <br />Values:
            {{ mainForm.value | json }}
            <p class="field-error" [@fadeIn] *ngIf="showFormErrorMessage" translate>errorMessages.OneOrMoreFieldsMissing</p>
          </div>
        </div> -->
      </form>
    </div>
  </div>

  <div id="circuit">
    <div cdkDropList class="example-list" (cdkDropListDropped)="dropA($event)">
      <div class="example-box" *ngFor="let item of komponentPlaceringer" cdkDrag (dblclick)="handleClick(item)">
        {{ item.row === 2 ? "&nbsp;&nbsp;&nbsp;&nbsp;" : "" }}{{ item.row === 3 ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" : "" }}{{ item.navn }} - {{ item.komponentNavn }} {{ item.id }}
      </div>
    </div>
  </div>

  <!-- [ngStyle]="{ 'box-shadow': '0px 0px 0px 3px rgba(' + item.sektion * 50 + ', 0, 0, 1) inset' }" -->

  <!-- <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="someOtherVariable[i]"
      class="example-list"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)">

      <ng-container *ngFor="let item of someOtherVariable[i]; let i= index">
        <div class="example-box" [style.width]="getDivWidth(item.width)" cdkDrag>{{item.title}}</div>
      </ng-container>

    </div>
  </div> -->
</div>

<div class="field col-5">
  <div class="formgroup-inline">
    <div class="field">
      <button
        pButton
        pRipple
        type="button"
        [disabled]="this.extendToLines !== 0 || this.eltavle?.economicBookedInvoiceNumber !== null"
        [label]="'Gem og luk'"
        class="p-button-raised"
        [title]="'Gem konfigurationen og luk'"
        (click)="onSaveClicked(false)"
      ></button>
    </div>

    <div class="field">
      <button
        pButton
        pRipple
        type="button"
        [disabled]="this.extendToLines !== 0 || this.eltavle?.economicBookedInvoiceNumber !== null"
        [label]="'Gem'"
        class="p-button-raised"
        [title]="'Gem konfigurationen'"
        (click)="onSaveClicked(true)"
      ></button>
    </div>

    <!-- <div class="field" *ngIf="this.extendToLines !== 0 && this.eltavle?.economicBookedInvoiceNumber === null">
      <button
        pButton
        pRipple
        type="button"
        [label]="'Udvid til ' + this.extendToLines + ' skinner'"
        class="p-button-raised"
        [title]="'Udvid til ' + this.extendToLines + ' skinner'"
        (click)="onUdvidClicked()"
      ></button>
    </div> -->

    <!-- <div class="field">
      <button pButton pRipple label="Fjern alle" icon="pi pi-bolt" class="p-button-raised" (click)="fjernAlle()"></button>
    </div> -->

    <!-- <div class="field">
      <button pButton label="Vis tavletegning" (click)="generateImage()"></button>
    </div> -->

    <div class="field">
      <button pButton pRipple type="button" class="p-button-outlined p-button-secondary" label="Tilbage" title="Tilbage" [routerLink]="['/circuits', laageId]"></button>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>

<p-dialog *ngIf="indsaetKomponenterDialog" [(visible)]="indsaetKomponenterDialog" [style]="{ width: '1200px', height: '800px' }" header="Indsæt komponenter" [modal]="true">
  <div class="field">
    <div class="field col-12 md:col-12">
      <label for="komponenter" class="block">Indsæt en liste af komponenter fra Excel</label>
      <textarea
        class="w-100 h-100"
        [(ngModel)]="komponenter"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        aria-describedby="komponenter-help"
        placeholder="Indsæt komponenter fra Excel (Antal Varenummer) med/uden overskrift"
        [rows]="25"
        pInputTextarea
        autoResize="autoResize"
      ></textarea>
      <!-- <div *ngIf="kommentar.errors && (kommentar.dirty || kommentar.touched)" class="p-error block"></div> -->
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-raised" label="Bekræft" (click)="importKomponenter()"></button>
  </ng-template>
</p-dialog>
<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
