<form *ngIf="mainForm" [formGroup]="mainForm">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-3">
            <label for="location" class="block">location</label>
            <input formControlName="location" type="text" pInputText id="location" aria-describedby="location-help" />
            <div *ngIf="location.errors && (location.dirty || location.touched)" class="p-error block"></div>
          </div>

          <div class="field col-12 md:col-3">
            <label for="zoneId" class="block">Land</label>
            <p-dropdown id="zoneId" formControlName="zoneId" [options]="zones" [autoDisplayFirst]="false" aria-describedby="zoneId-help"></p-dropdown>
            <div *ngIf="zoneId.errors && (zoneId.dirty || zoneId.touched)" class="p-error block">
              <div *ngIf="zoneId.errors?.required">Påkrævet</div>
            </div>
          </div>

          <div class="field col-12 md:col-6">
            <label for="maxRate" class="block">Max pris (0.0 - 10.0)</label>
            <input formControlName="maxRate" type="text" maxlength="200" pInputText id="maxRate" aria-describedby="maxRate-help" />
            <div *ngIf="maxRate.errors && (maxRate.dirty || maxRate.touched)" class="p-error block">
              <div *ngIf="maxRate.errors?.required">Påkrævet</div>
              <div *ngIf="maxRate.errors?.range">Max pris skal værre imellem 0,0 kr og 10,0</div>
            </div>
          </div>

          <div class="field">
            <div class="formgroup-inline">
              <div class="field"></div>
              <div class="field"></div>
            </div>
          </div>

          <div class="field col-12">
            <div class="formgroup-inline">
              <div class="field">
                <button
                  pButton
                  pRipple
                  type="button"
                  [label]="createOrSave"
                  class="p-button-raised"
                  [title]="mainForm.valid ? 'Gem dine indtastede data' : 'Deaktiveret, indtil formulardataene er gyldige'"
                  [disabled]="mainForm.pristine"
                  (click)="saveItem()"
                ></button>
              </div>
              <div class="field">
                <button pButton pRipple type="button" class="p-button-outlined p-button-secondary" label="Tilbage" title="Tilbage" [routerLink]="['/printr/']"></button>
              </div>
              <div class="field">
                <button pButton pRipple class="p-button-outlined p-button-warning" type="button" [label]="deleteOrRecreate" [title]="deleteOrRecreate + ' printn'" (click)="deleteRecreate()"></button>
              </div>
            </div>
          </div>

          <!-- <div class="field col-12">
            <div class="formgroup-inline">
              <div *ngIf="print.kundeID === 88" class="field">
                <button pButton pRipple class="p-button-outlined p-button-warning" type="button" [label]="'Flyt kunde'" [title]="'Flyt kunde'" (click)="flytKunde()"></button>
              </div>

              <div *ngIf="print.bestiltDato === null" class="field">
                <button
                  [disabled]="print.slettet === true"
                  pButton
                  pRipple
                  class="p-button-raised"
                  type="button"
                  [label]="'Lav kladde om til bestiling'"
                  [title]="'Bestil tavle'"
                  (click)="bestilTavle()"
                ></button>
              </div>
              <div
                *ngIf="
                  print.kundeID !== 88 &&
                  print.nettoPris > 0 &&
                  print.economicBookedInvoiceNumber === null &&
                  (print.economicSidstRettet === null || print.economicSidstRettet < print.sidstRettet || economicManglerDatoOpdatering) &&
                  print.economicCustomerNumber !== null
                "
                class="field"
              >
                <button
                  pButton
                  pRipple
                  [disabled]="mainForm.dirty || print.economicCustomerNumber === null || print.bestiltDato === null"
                  class="p-button-raised"
                  type="button"
                  [label]="updateEconomic"
                  [title]="updateEconomic"
                  (click)="createOrUpdateOrder()"
                ></button>
              </div>
              <div *ngIf="print.bestiltDato === null" class="field">Lav kladden om til en bestilling før du kan redigere tavlen!</div>
              <div *ngIf="print.kundeID === 88" class="field">Flyt tavlen til en anden kunde!</div>
              <div *ngIf="print.bestiltDato !== null && print.nettoPris === 0" class="field">NettoPris skal værre angivet før den kan komme over i economic!</div>
              <div *ngIf="print.economicCustomerNumber === null" class="field">Kunden er ikke oprettet i economic!</div>

              <div *ngIf="print.economicOrderNumber !== null" class="field">
                <button
                  pButton
                  pRipple
                  [disabled]="mainForm.dirty || print.economicSidstRettet < print.sidstRettet"
                  class="p-button-raised"
                  type="button"
                  [label]="'Vis følgeseddel'"
                  [title]="'Vis følgeseddel'"
                  (click)="showFoelgeseddel()"
                ></button>
              </div>

              <div *ngIf="print.economicDraftInvoiceNumber !== null && print.economicBookedInvoiceNumber === null" class="field">
                <button
                  pButton
                  pRipple
                  [disabled]="mainForm.dirty || print.economicSidstRettet < print.sidstRettet"
                  class="p-button-raised"
                  type="button"
                  [label]="'Vis faktura klade'"
                  [title]="'Vis faktura klade'"
                  (click)="showFakturaKladde()"
                ></button>
              </div>

              <div *ngIf="print.economicOrderNumber !== null && print.economicDraftInvoiceNumber !== null && print.economicBookedInvoiceNumber === null" class="field">
                <button
                  pButton
                  pRipple
                  [disabled]="mainForm.dirty || print.economicSidstRettet < print.sidstRettet"
                  class="p-button-raised"
                  type="button"
                  [label]="'Lås faktura i e-conomic'"
                  [title]="'Lås faktura i e-conomic'"
                  (click)="bookInvoice()"
                ></button>
              </div>

              <div *ngIf="print.economicBookedInvoiceNumber !== null && print.economicBookedInvoiceNumber > 0" class="field">
                <button
                  pButton
                  pRipple
                  [disabled]="mainForm.dirty || print.economicSidstRettet < print.sidstRettet"
                  class="p-button-raised"
                  type="button"
                  [label]="'Vis faktura'"
                  [title]="'Vis faktura'"
                  (click)="showFaktura()"
                ></button>
              </div>

              <div *ngIf="print.economicBookedInvoiceNumber !== null && print.economicBookedInvoiceNumber > 0" class="field">
                <button pButton pRipple label="Send faktura" icon="pi pi-envelope" class="p-button-raised" (click)="sendFakturaMail()"></button>
              </div>
            </div>
          </div> -->

          <!-- <div class="field col-12">
            <div class="field">
              <button pButton pRipple class="p-button-outlined p-button-secondary" type="button" label="Test form for validation in console" (click)="getFormValidationErrors()"></button>
            </div>
            <br />Dirty: {{ mainForm.dirty }} <br />Touched: {{ mainForm.touched }} <br />Valid: {{ mainForm.valid }} <br />Values:
            {{ mainForm.value | json }}
            <p class="field-error" [@fadeIn] *ngIf="showFormErrorMessage" translate>errorMessages.OneOrMoreFieldsMissing</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{ width: '50vw' }" [baseZIndex]="10000"></p-confirmDialog>

  <p-dialog *ngIf="deleteDialog" [(visible)]="deleteDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="print"
        >Er du sikker på du ønsker at slettet tavlen med tavle nr: <b>{{ print?.tavleNr }}</b
        >?</span
      >
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-check" class="p-button-raised" label="Bekræft" (click)="confirmDelete()"></button>
      <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-warning" label="Annuller" (click)="deleteDialog = false"></button
    ></ng-template>
  </p-dialog>

  <!-- <p-dialog *ngIf="flytKundeDialog" [(visible)]="flytKundeDialog" [style]="{ width: '450px', height: '450px' }" header="Product Details" [modal]="true">
    <div class="field">
      <label class="block">Vælg kunde</label>
      <p-dropdown optionLabel="name" dataKey="id" [options]="customers" (onChange)="onKundeChange($event)" [(ngModel)]="valgtKunde" [ngModelOptions]="{ standalone: true }"> </p-dropdown>
      <div *ngIf="users">
        <label class="block">Vælg bruger</label>
        <p-dropdown optionLabel="email" dataKey="id" [options]="users" (onChange)="onBrugervalgt($event)" [(ngModel)]="valgtBruger" [ngModelOptions]="{ standalone: true }"> </p-dropdown>
      </div>
    </div>
    <ng-template pTemplate="footer"
      >valgtBruger:{{ valgtBruger }}
      <button pButton pRipple icon="pi pi-check" class="p-button-raised" label="Bekræft" (click)="flytTilKunde()"></button>
    </ng-template>
  </p-dialog> -->

  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</form>

<!-- <div ngIf="schedules$ | async"></div> -->
Schedules: (kommer kl 13 hver dag)
<ng-container *ngFor="let item of schedules$ | async">
  <div>
    <b>Dato {{ item.date | date: "dd/MM/yyyy" }}</b>
  </div>
  <div [ngClass]="item.h00 ? runningCss : 'notrunning'">Kl. 00 - {{ item.p00 }} kr.</div>
  <div [ngClass]="item.h01 ? runningCss : 'notrunning'">Kl. 01 - {{ item.p01 }} kr.</div>
  <div [ngClass]="item.h02 ? runningCss : 'notrunning'">Kl. 02 - {{ item.p02 }} kr.</div>
  <div [ngClass]="item.h03 ? runningCss : 'notrunning'">Kl. 03 - {{ item.p03 }} kr.</div>
  <div [ngClass]="item.h04 ? runningCss : 'notrunning'">Kl. 04 - {{ item.p04 }} kr.</div>
  <div [ngClass]="item.h05 ? runningCss : 'notrunning'">Kl. 05 - {{ item.p05 }} kr.</div>
  <div [ngClass]="item.h06 ? runningCss : 'notrunning'">Kl. 06 - {{ item.p06 }} kr.</div>
  <div [ngClass]="item.h07 ? runningCss : 'notrunning'">Kl. 07 - {{ item.p07 }} kr.</div>
  <div [ngClass]="item.h08 ? runningCss : 'notrunning'">Kl. 08 - {{ item.p08 }} kr.</div>
  <div [ngClass]="item.h09 ? runningCss : 'notrunning'">Kl. 09 - {{ item.p09 }} kr.</div>
  <div [ngClass]="item.h10 ? runningCss : 'notrunning'">Kl. 10 - {{ item.p10 }} kr.</div>
  <div [ngClass]="item.h11 ? runningCss : 'notrunning'">Kl. 11 - {{ item.p11 }} kr.</div>
  <div [ngClass]="item.h12 ? runningCss : 'notrunning'">Kl. 12 - {{ item.p12 }} kr.</div>
  <div [ngClass]="item.h13 ? runningCss : 'notrunning'">Kl. 13 - {{ item.p13 }} kr.</div>
  <div [ngClass]="item.h14 ? runningCss : 'notrunning'">Kl. 14 - {{ item.p14 }} kr.</div>
  <div [ngClass]="item.h15 ? runningCss : 'notrunning'">Kl. 15 - {{ item.p15 }} kr.</div>
  <div [ngClass]="item.h16 ? runningCss : 'notrunning'">Kl. 16 - {{ item.p16 }} kr.</div>
  <div [ngClass]="item.h17 ? runningCss : 'notrunning'">Kl. 17 - {{ item.p17 }} kr.</div>
  <div [ngClass]="item.h18 ? runningCss : 'notrunning'">Kl. 18 - {{ item.p18 }} kr.</div>
  <div [ngClass]="item.h19 ? runningCss : 'notrunning'">Kl. 19 - {{ item.p19 }} kr.</div>
  <div [ngClass]="item.h20 ? runningCss : 'notrunning'">Kl. 20 - {{ item.p20 }} kr.</div>
  <div [ngClass]="item.h21 ? runningCss : 'notrunning'">Kl. 21 - {{ item.p21 }} kr.</div>
  <div [ngClass]="item.h22 ? runningCss : 'notrunning'">Kl. 22 - {{ item.p22 }} kr.</div>
  <div [ngClass]="item.h23 ? runningCss : 'notrunning'">Kl. 23 - {{ item.p23 }} kr.</div>
</ng-container>
