<h2>Gruppetavle konfigurator</h2>
<p-toast></p-toast>
<!-- <button (click)="move()">Move last</button> -->
<!-- <button (click)="add()">Add</button> <button (click)="shuffle()">Shuffle</button><br />
<ul class="example-list">
  <li *ngFor="let item of todo">{{ item.title }}</li>
  <li *ngFor="let item of done">{{ item.title }}</li>
</ul> -->

<!-- <div class="sticky">Træk og slip disp plads ind på DIN skinnerne</div> -->

<div cdkDropListGroup>
  <div class="fixed">
    <div class="sticky">
      <h4>Disp komponenter</h4>
      <div cdkDropList [cdkDropListData]="disp" class="disp-list" cdkDropListOrientation="horizontal" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let item of disp; let i = index">
          <div class="component-box" [style.width]="getDivWidth(item.modul)" cdkDrag [cdkDragDisabled]="this.eltavle?.economicBookedInvoiceNumber !== null">{{ item.komponentNavn }}</div>
        </ng-container>
      </div>
    </div>
    <div>
      <form [formGroup]="mainForm">
        <div class="field">
          <label for="angivetNavn" class="block">Slå autonavn fra</label>
          <p-checkbox
            formControlName="angivetNavn"
            [disabled]="!selectedItem"
            [binary]="true"
            id="angivetNavn"
            aria-describedby="angivetNavn-help"
            (onChange)="onAngivetNavnChanged($event)"
          ></p-checkbox>
        </div>

        <div class="field">
          <label for="navn" class="block">Navn</label>
          <input formControlName="navn" [disabled]="!selectedItem || !angivetNavn" type="text" maxlength="50" pInputText id="navn" aria-describedby="navn-help" />
        </div>
        <div class="field">
          <div class="formgroup-inline">
            <div class="field">
              <button pButton pRipple [disabled]="mainForm.pristine || !mainForm.valid || !this.selectedItem" [label]="'Ret'" class="p-button-raised" (click)="saveItem()"></button>
            </div>

            <br />Dirty: {{ mainForm.dirty }} <br />Touched: {{ mainForm.touched }} <br />Valid: {{ mainForm.valid }} <br />Values:
            {{ mainForm.value | json }}
            <!-- <p class="field-error" [@fadeIn] *ngIf="showFormErrorMessage" translate>errorMessages.OneOrMoreFieldsMissing</p> -->
          </div>
        </div>

        <!-- <div class="field">
          <div class="formgroup-inline">
            <div class="field">
              <button
                pButton
                pRipple
                [disabled]="mainForm.pristine || !mainForm.valid || antal < 1 || komponentID === null"
                [label]="selectedItem.id === 0 ? 'Opret' : 'Gem'"
                icon="pi pi-check"
                class="p-button-raised"
                (click)="saveItem()"
              ></button>
            </div>
            <div class="field">
              <button pButton pRipple label="Annuller" icon="pi pi-times" class="p-button-outlined p-button-warning" (click)="hideDialog()"></button>
            </div>
            <br />Dirty: {{ mainForm.dirty }} <br />Touched: {{ mainForm.touched }} <br />Valid: {{ mainForm.valid }} <br />Values:
            {{ mainForm.value | json }}
            <p class="field-error" [@fadeIn] *ngIf="showFormErrorMessage" translate>errorMessages.OneOrMoreFieldsMissing</p>
          </div>
        </div> -->
      </form>
    </div>
  </div>
  <div id="tavle">
    <div class="component-container" *ngFor="let item of someOtherVariable.slice().reverse(); let i = index">
      <h4>DIN skinne {{ someOtherVariable.length - i }}</h4>
      <div
        cdkDropList
        [cdkDropListData]="someOtherVariable[i]"
        [ngClass]="lineWidth == 12 ? 'component-list' : 'component-listB'"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container *ngFor="let item of someOtherVariable[i]; let i = index">
          <div
            [ngClass]="item.erExtraDisp || item.komponentID === 44 || item.komponentID === 45 || item.komponentID === 83 ? dispCss : 'component-box'"
            [style.width]="getDivWidth(item.modul)"
            [cdkDragDisabled]="this.eltavle?.economicBookedInvoiceNumber !== null"
            cdkDrag
            (click)="handleClick(item)"
          >
            {{ item.navn }}<br />{{ item.komponentNavn }}{{ item.erExtraDisp ? "*" : "" }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- [ngStyle]="{ 'box-shadow': '0px 0px 0px 3px rgba(' + item.sektion * 50 + ', 0, 0, 1) inset' }" -->
  <!-- <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="someOtherVariable[i]"
      class="example-list"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)">

      <ng-container *ngFor="let item of someOtherVariable[i]; let i= index">
        <div class="example-box" [style.width]="getDivWidth(item.width)" cdkDrag>{{item.title}}</div>
      </ng-container>

    </div>
  </div> -->
</div>

<div class="field col-12">
  <div class="formgroup-inline">
    <div class="field">
      <button
        pButton
        pRipple
        type="button"
        [disabled]="this.extendToLines !== 0 || this.eltavle?.economicBookedInvoiceNumber !== null"
        [label]="'Gem og luk'"
        class="p-button-raised"
        [title]="'Gem konfigurationen og luk'"
        (click)="onSaveClicked(false)"
      ></button>
    </div>

    <div class="field">
      <button
        pButton
        pRipple
        type="button"
        [disabled]="this.extendToLines !== 0 || this.eltavle?.economicBookedInvoiceNumber !== null"
        [label]="'Gem'"
        class="p-button-raised"
        [title]="'Gem konfigurationen'"
        (click)="onSaveClicked(true)"
      ></button>
    </div>

    <div class="field" *ngIf="this.extendToLines !== 0 && this.eltavle?.economicBookedInvoiceNumber === null">
      <button
        pButton
        pRipple
        type="button"
        [label]="'Udvid til ' + this.extendToLines + ' skinner'"
        class="p-button-raised"
        [title]="'Udvid til ' + this.extendToLines + ' skinner'"
        (click)="onUdvidClicked()"
      ></button>
    </div>

    <div class="field">
      <button pButton label="Vis tavletegning" (click)="generateImage()"></button>
    </div>

    <div class="field">
      <button pButton pRipple type="button" class="p-button-outlined p-button-secondary" label="Tilbage" title="Tilbage" [routerLink]="['/eltavler', tavleId, 'parts']"></button>
    </div>
  </div>
</div>

<p-dialog header="Tavle tegning" [(visible)]="displayPrintDialog" styleClass="" [style]="{ width: '50vw' }" [baseZIndex]="10000" (onHide)="dispCss = 'component-box'">
  <div id="print-section">
    <table>
      <tbody>
        <tr>
          <td>
            <p>Tavle nr.:</p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p>{{ eltavle?.tavleNr }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dato:</p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p>{{ bestiltDato() }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>M&aelig;rkestr&oslash;m:</p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p>{{ eltavle?.maerkeStroem }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Fabrikat:</p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p>{{ fabrikat() }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Kapslings klasse:</p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p>{{ eltavle?.kapslingsKlasse }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Driftssp&aelig;nding:</p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p>{{ eltavle?.driftsSpaending }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Max kortslutningsstr&oslash;m:</p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p>{{ eltavle?.maxKortslutningsStroem }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Standard:</p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p>EN 61439-3</p>
          </td>
        </tr>
        <tr>
          <td>
            <p></p>
          </td>
          <td>&nbsp;</td>
          <td>
            <p></p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="https://portal.farmgain.com/images/ce-logo.png" />
          </td>
          <td>&nbsp;</td>
          <td>
            <img src="https://portal.farmgain.com/images/BilligKwh.png" />
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <img id="image" [src]="" />
  </div>
  <ng-template pTemplate="footer">
    <button pButton [useExistingCss]="true" class="p-ripple p-element p-button p-component" icon="pi pi-print" printSectionId="print-section" ngxPrint label="Print"></button>
    <p-button icon="pi pi-times" (click)="displayPrintDialog = false; dispCss = 'component-box'" label="luk" class="p-button-text"></p-button>
  </ng-template>
</p-dialog>
<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
